* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

* a {
    color: inherit;
    text-decoration: none;
}

.g_button {
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid #858484;
    border-radius: 50%;
    transition: border 0.1s;
    cursor: pointer;
    &:active {
        border-color: #2b88c9;
    }
}

body {
    color: rgb(223, 223, 223);
    background-color: #606060;
    font-family: 'Myriad Pro';
}

.wraper {
    background: linear-gradient( 180deg, rgba(66, 66, 66, 1) 50%, rgba(43, 43, 43, 1) 100%);
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.header {
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 22px;
    background: rgba(66, 66, 66, 1);
    .header-container {
        margin: 0 1.2% 0 276px;
        width: calc(100% - 276px - 14px);
        max-width: 1047px;
        display: flex;
        justify-content: space-between;
        .header-menu {
            .menu-item {
                display: flex;
                .menu-list {
                    position: relative;
                    .menu-link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 122px;
                        height: 100%;
                        font-size: 14px;
                        font-family: 'OpenSans';
                        line-height: 1.7;
                        &:hover {
                            font-size: 18px;
                            color: rgb(255, 255, 255);
                            line-height: 1.333;
                            background: #1d1d1d;
                        }
                        &:hover::before {
                            content: '';
                            width: calc(100%);
                            height: 3px;
                            position: absolute;
                            bottom: -3px;
                            background: #008bdc;
                        }
                    }
                }
                .menu-list-space {
                    width: 0;
                    min-height: 22px;
                    border-left: 1px solid #111111;
                    border-right: 1px solid #585858;
                }
            }
        }
        .header-user {
            position: relative;
            display: flex;
            align-items: center;
            white-space: nowrap;
            .user-logout-link {
                font-size: 13px;
                font-family: inherit;
                position: relative;
                bottom: 2px;
                text-decoration: underline;
                margin: 0 15px 0 0;
                &:hover {
                    font-size: 18px;
                    color: rgb(255, 255, 255);
                    line-height: 1.333;
                    background: #1d1d1d;
                }
            }
            .user-name {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 100%;
                max-width: 250px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 30px;
                font-size: 14px;
                line-height: 1.714;
            }
        }
    }
}

.main {
    margin: 22px 0 0 275px;
    width: calc(100% - 276px - 13px);
    height: calc(100vh - 98px);
    overflow: auto;
    background: #606060;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    &::-webkit-scrollbar-thumb {
        background: #999999;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #2b88c9;
    }
    .main-container {
        width: calc(100% - 30px);
        max-width: 1030px;
        background-color: #424242;
        margin: 20px 0 15px 15px;
        display: flex;
        flex-direction: column;
        .main-container-space {
            padding: 0;
            width: 100%;
            height: 0;
            border-top: 1px solid #111111;
            border-bottom: 1px solid #666666;
        }
        &>div {
            overflow: hidden;
            padding: 12px;
        }
        .music-grup-title {
            margin: 2px 0 0 0;
            padding: 20px 26px;
            background-color: #1d1d1d;
            font-size: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .music-grup-info {
            .grup-images {
                float: left;
                max-width: 58%;
                min-width: 450px;
                li {
                    display: block;
                    float: left;
                    width: 23%;
                    height: 86px;
                    margin: 0 0 7px 3.2%;
                    &:first-child {
                        width: 45.34%;
                        height: 178px;
                        margin: 0 1.7% 0 0;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
            }
            .grup-info {
                float: left;
                width: 33%;
                min-width: 250px;
                max-height: 150px;
                margin: 0 0 0 6.8%;
                p {
                    margin: 25px 0 0 0;
                    position: relative;
                    max-height: 190px;
                    font-size: 12px;
                    font-family: 'OpenSans';
                    color: rgb(224, 225, 225);
                    line-height: 1.5;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                    span {
                        position: absolute;
                        bottom: 0px;
                        right: 0;
                        color: #2b88c9;
                        background: #424242;
                        text-decoration: underline;
                        cursor: pointer;
                        letter-spacing: 0.7px;
                    }
                }
            }
        }
        .music-grup-discography {
            padding: 0;
            .discography-icons-con {
                width: 57.8%;
                min-width: 450px;
                float: left;
                ul {
                    width: 100%;
                    li {
                        display: inline-block;
                        width: 22%;
                        min-width: 100px;
                        height: 121px;
                        border: 14px solid #2b2b2b;
                        margin: 0 0 27px 2.5%;
                        img {
                            width: 100%;
                            height: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }
                    }
                }
                &>* {
                    float: left;
                }
                .discography-title {
                    margin: 12px 0 25px 20px;
                    font-size: 18px;
                    width: 100%;
                }
            }
            .discography-tracks-con {
                margin: 10px 0 0 5.3%;
                width: 36.2%;
                min-width: 250px;
                float: left;
                padding-bottom: 25px;
                ul {
                    counter-reset: counter 0;
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 2% 12%;
                        width: 100%;
                        font-size: 12px;
                        &::before {
                            content: counter(counter) '.';
                            counter-increment: counter;
                            position: absolute;
                            left: 12px;
                        }
                        &:hover::after {
                            content: '';
                            width: 20px;
                            height: 20px;
                            background: url(../images/btn/Layer63.png) 50% no-repeat;
                            position: absolute;
                            right: 12px;
                            cursor: pointer;
                        }
                        &:hover:before {
                            content: '';
                            position: absolute;
                            left: 3px;
                            display: block;
                            width: 23px;
                            height: 23px;
                            border: 1px solid #ebebeb;
                            background: url('../images/btn/Polygon.png') 60% 50%/10px no-repeat;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        &:hover {
                            background-color: #008bdc;
                            text-decoration: underline;
                            color: #fff;
                        }
                        p {
                            &:first-child {
                                max-width: 200px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            &:last-child {
                                max-width: 100px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    div {
                        position: absolute;
                        bottom: -10;
                        right: 55px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        span {
                            font-weight: bold;
                            color: white;
                            text-decoration: underline;
                        }
                        &::before {
                            content: '<< ';
                        }
                        &::after {
                            content: ' >>';
                        }
                    }
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 22px;
    left: 0;
    width: 276px;
    height: calc(100vh - 22px - 75px);
    font-family: 'OpenSans';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .icon {
        width: 100%;
        height: 165px;
        background: url(../images/icon/logo1.png) 127px 26px no-repeat, url(../images/icon/Layer1.png) 75px 40px no-repeat;
    }
    .my-library {
        position: relative;
        font-size: 30px;
        background: url(../images/icon/Layer64copy.png) 27px 10px no-repeat, url(../images/icon/Layer64.png) 22px 5px no-repeat;
        &>p {
            margin: 0 0 0 84px;
            font-size: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .library-item {
            position: absolute;
            right: 1px;
            top: 57px;
            width: 249px;
            display: flex;
            flex-direction: column;
            .library-list-space {
                width: 218px;
                height: 0;
                border-top: 1px solid #111111;
                border-bottom: 1px solid #585858;
                position: relative;
                left: 30px;
            }
            .library-list {
                &>p {
                    width: 100%;
                    max-height: 80px;
                    cursor: pointer;
                    font-size: 18px;
                    padding: 16px 0 16px 68px;
                    background: url(../images/icon/Layer40.png) 30px 18px no-repeat;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    &:hover {
                        background: url(../images/icon/Layer42.png) 30px 18px no-repeat, #1d1d1d;
                        font-size: 18px;
                        color: rgb(255, 255, 255);
                    }
                }
                &:hover>ul {
                    display: block;
                }
                ul {
                    display: none;
                    position: relative;
                    font-size: 14px;
                    padding-left: 10px;
                    top: -5px;
                    left: 57px;
                    margin: 8px;
                    li {
                        padding: 5px;
                        width: 174px;
                        font-size: 14px;
                        color: rgba(223, 223, 223, 0.69);
                        &:hover {
                            background: #1d1d1d;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .sidebar-footer {
        width: 245px;
        height: 65px;
        background: #1d1d1d;
        position: absolute;
        bottom: 0;
        left: 15px;
        padding: 11px;
        text-align: center;
        font-size: 11px;
        font-family: 'Myriad Pro';
        color: rgb(255, 255, 255);
        line-height: 2.182;
        p {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .sidebar-footer-space {
            width: 100%;
            height: 0;
            border-top: 1px solid #111111;
            border-bottom: 1px solid #585858;
        }
    }
}

.footer {
    height: 76px;
    width: 100%;
    position: fixed;
    bottom: 0;
    .player {
        height: 53px;
        width: calc(100% - 17px - 23px);
        margin: 15px 0 0 15px;
        background: #1d1d1d;
        .player-item {
            width: 100%;
            height: 100%;
            display: flex;
            &>li {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 20px;
            }
            .player-buttons .button-items {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .player-items-space {
                width: 0;
                height: 42px;
                border-left: 1px solid #111111;
                border-right: 1px solid #585858;
                margin-top: 6px;
            }
            .player-buttons {
                .button-items {
                    &>li {
                        margin: 0 6px 0 0;
                    }
                    .next {
                        margin: 0;
                    }
                    &>.play {
                        background: url('../images/btn/Polygon.png') 60% 50%/10px no-repeat;
                        width: 30px;
                        height: 30px;
                    }
                    &>.prev,
                    &>.next {
                        background: url('../images/btn/Polygon.png') 35% 50%/6px no-repeat, url('../images/btn/Polygon.png') 75% 50%/6px no-repeat;
                    }
                    &>.prev {
                        transform: rotate(180deg);
                    }
                }
            }
            .player-volume {
                .volume {
                    width: 58px;
                    height: 4px;
                }
                div {
                    &:nth-child(2) {
                        position: relative;
                        top: -2px;
                    }
                    &:nth-child(2) {
                        position: relative;
                        top: -2px;
                    }
                    &:first-child {
                        background: url(../images/btn/Layer4.png) 50% no-repeat;
                        width: 20px;
                        height: 20px;
                    }
                    &:last-child {
                        background: url(../images/btn/Layer5.png) 50% no-repeat;
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                    }
                }
            }
            .player-load {
                min-width: 200px;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: 0 0 -3px 0;
                    .range-con {
                        padding: 4px;
                        background: #000;
                    }
                    input {
                        width: 100%;
                        height: 4px;
                    }
                    p {
                        width: 55px;
                        height: 12px;
                        background: black;
                        color: #fff;
                        margin: 0 0 0 20px;
                        text-align: center;
                        font-size: 10px;
                        font-family: 'Trebuchet MS';
                    }
                }
                &>p {
                    width: calc(100% - 90px);
                    color: #c9eaf7;
                    font-size: 12px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    position: absolute;
                    top: 7px;
                    left: 20px;
                    span {
                        font-weight: bold;
                    }
                    &:hover+.playing-icon {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .playing-icon {
                    visibility: hidden;
                    width: 60px;
                    min-height: 60px;
                    border: 7px solid #1d1d1d;
                    border-radius: 7px;
                    background: url(../images/Layer48.png) 100% no-repeat;
                    position: absolute;
                    top: -55px;
                    height: 0;
                    opacity: 0;
                    transition: opacity 0.5s;
                }
            }
            .button-items {
                &>.shuffle {
                    background: url('../images/btn/Layer1.png') 50% 50%/12px no-repeat;
                }
                &>.replay {
                    background: url('../images/btn/Layer2.png') 50% 50%/11px no-repeat;
                    margin: 0;
                }
            }
            .player-add {
                position: relative;
                .add-button {
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    background: url('../images/btn/Layer6.png') 50% no-repeat, url('../images/btn/Layer7.png') 50% no-repeat;
                }
                .add-menu {
                    visibility: hidden;
                    position: absolute;
                    min-width: 165px;
                    height: 180px;
                    background: #2b2b2b;
                    top: -182px;
                    left: -60px;
                    opacity: 0;
                    margin: 1% 1% 0 0;
                    transition: opacity 0.5s;
                    .add-menu-item-space {
                        width: 147px;
                        height: 0;
                        border-top: 1px solid #111111;
                        border-bottom: 1px solid #585858;
                    }
                    ul {
                        width: 90%;
                        height: 90%;
                        margin: 10px auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        li {
                            padding: 6px;
                            font-size: 18px;
                            font-family: 'OpenSans';
                            text-align: left;
                            width: 140px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            &:hover {
                                background: #1d1d1d;
                                cursor: pointer;
                            }
                        }
                    }
                }
                &:hover>.add-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .player-now-playing {
                .playing-items {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 0 25px 0 30px;
                    .playing-title {
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 22px;
                        font-family: 'OpenSans';
                        color: rgb(141, 141, 141);
                    }
                    .play {
                        background: url('../images/btn/Polygon.png') 60% 50%/10px no-repeat;
                        margin: 0 0 0 25px;
                        &::after {
                            content: url(../images/btn/Layer3.png);
                            position: relative;
                            top: -12px;
                            left: -7px;
                        }
                    }
                }
            }
        }
    }
}

@import 'media.scss';